@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

/* || RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* || VARIABLES */
:root {
	/* COLORS */
	--BLACK: rgb(0, 0, 0);
	--DARK-BGCOLOR: rgb(18, 22, 25);
	--BGCOLOR: rgb(31, 39, 43);
	--LIGHT-BGCOLOR: rgba(75, 96, 109);
	--TRANSPARENT-LIGHT-BGCOLOR: rgba(75, 96, 109, 0.9);
	--GRAY: rgb(192, 192, 192);
	--GREEN: rgb(26, 217, 12);
	--RED: rgb(192, 39, 39);
	--WHITE: rgb(255, 255, 255);

	/* FONTS */
	--FFAMILY: "Ubuntu", sans-serif;
	--FSIZE: 1.1rem;

	/* NEW GAMESIZES */
	--NEWGAME-MIN-WW: 18rem;
	--NEWGAME-BETWEEN-WW: 80vw;
	--NEWGAME-MAX-WW: 36rem;

	--NEWGAME-WH: calc(var(--NEWGAME-MAX-WW) / 3);
	--NEWGAME-INSIDE-WW: 95%;
	--NEWGAME-INSIDE-WH: 60%;
	--NEWGAME-SIGN-WW: 45%;
	--NEWGAME-SIGN-WH: 80%;

	/* MAIN BOARD SIZES */
	--MAIN-MIN-WW: 18rem;
	--MAIN-BETWEEN-WW: 80vw;
	--MAIN-MAX-WW: 30rem;

	--HEADER-WH: 3rem;
	--TURN-INFO-WW: 6rem;
	--TURN-INFO-WH: 80%;
	--RESET-BUTTON: 2rem;
	--FIELD-WH: calc(
		clamp(
				var(--NEWGAME-MIN-WW),
				var(--NEWGAME-BETWEEN-WW),
				calc(var(--NEWGAME-MAX-WW) / 1.2)
			) / 3.5
	);
	--FOOTER-WH: 3.5rem;
	--RESULTS-WW: 30%;
	--RESULTS-WH: 80%;

	/* WINNER WINDOW SIZES */
	--WINNER-WH: 15rem;
	--BUTTONS-WH: 3rem;
	--QUIT-BUTTON-WW: 6rem;
	--NEXT-ROUND-BUTTON-WW: 12rem;

	/* MARGINS, PADDING, GAPS AND BORDERS */
	--GENERAL-GAP: 0.8rem;
	--GENERAL-BORDER-RAD: 1rem;
}

/* || FLEX PROPERTIES */
.app-background,
.choose-sign-window,
.choose-sign-inside,
.choose-x,
.choose-o,
.new-game-button,
.header,
.whos-turn,
.reset-button,
.results,
.player1,
.ties,
.player2,
.main-signX,
.main-signO,
.winner-window,
.winner-window-buttons,
.quit-button,
.next-round-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-background {
	background-color: var(--BLACK);
	flex-flow: column nowrap;
	font: bold var(--FSIZE) var(--FFAMILY);
	gap: calc(var(--GENERAL-BORDER-RAD) * 3);
	min-height: 100vh;
}

/* CHOOSE YOUR FIGHTER */
.choose-sign-window {
	background-color: var(--BGCOLOR);
	border-radius: var(--GENERAL-BORDER-RAD);
	flex-flow: column nowrap;
	font-size: 1.5em;
	gap: var(--GENERAL-BORDER-RAD);
	height: var(--NEWGAME-WH);
	width: clamp(
		var(--NEWGAME-MIN-WW),
		var(--NEWGAME-BETWEEN-WW),
		var(--NEWGAME-MAX-WW)
	);
}

.pick-player-string {
	color: var(--WHITE);
}

.choose-sign-inside {
	background-color: var(--BLACK);
	border-radius: calc(var(--GENERAL-BORDER-RAD) / 2);
	color: var(--WHITE);
	height: var(--NEWGAME-INSIDE-WH);
	justify-content: space-evenly;
	width: var(--NEWGAME-INSIDE-WW);
}

.choose-x,
.choose-o {
	width: var(--NEWGAME-SIGN-WW);
	height: var(--NEWGAME-SIGN-WH);
	background-color: var(--WHITE);
	border-radius: calc(var(--GENERAL-BORDER-RAD) / 2);
	cursor: pointer;
}

.choose-x p,
.choose-o p {
	font-size: 3.4em;
	color: var(--BLACK);
}

.choose-o {
	background-color: var(--MAIN-BGCOLOR);
}
.choose-o p {
	color: var(--WHITE);
}

.new-game-button {
	background-color: var(--RED);
	border-radius: calc(var(--GENERAL-BORDER-RAD) / 2);
	color: var(--WHITE);
	cursor: pointer;
	font-size: 1.5em;
	height: calc(var(--NEWGAME-WH) / 3);
	width: clamp(
		var(--NEWGAME-MIN-WW),
		var(--NEWGAME-BETWEEN-WW),
		var(--NEWGAME-MAX-WW)
	);
}

/* || MAIN BOARD */
.whole-board {
	display: none;
	width: clamp(var(--MAIN-MIN-WW), var(--MAIN-BETWEEN-WW), var(--MAIN-MAX-WW));
}

.header {
	width: 100%;
	height: var(--HEADER-WH);
	justify-content: space-between;
}

.whos-turn {
	background-color: var(--BGCOLOR);
	border-radius: calc(var(--GENERAL-BORDER-RAD) / 2);
	color: var(--WHITE);
	gap: calc(var(--GENERAL-GAP) / 2);
	height: var(--TURN-INFO-WH);
	width: var(--TURN-INFO-WW);
}

.sign {
	font-size: 1.5em;
}

.reset-button {
	background-color: var(--GRAY);
	border-radius: var(--GENERAL-BORDER-RAD);
	cursor: pointer;
	font-size: 1.5em;
	height: var(--RESET-BUTTON);
	width: var(--RESET-BUTTON);
}

.board {
	width: 100%;
	margin: var(--GENERAL-GAP) 0;

	display: grid;
	gap: var(--GENERAL-GAP);
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: var(--FIELD-WH) var(--FIELD-WH) var(--FIELD-WH);
}

.board div {
	background-color: var(--DARK-BGCOLOR);
	border-radius: var(--GENERAL-BORDER-RAD);
	cursor: pointer;
}

.results {
	height: var(--FOOTER-WH);
	justify-content: space-between;
	width: 100%;
}

.player1,
.ties,
.player2 {
	background-color: var(--GREEN);
	border-radius: calc(var(--GENERAL-BORDER-RAD) / 2);
	flex-flow: column nowrap;
	height: var(--RESULTS-WH);
	width: var(--RESULTS-WW);
}

.ties {
	background-color: var(--GRAY);
}

.player2 {
	background-color: var(--RED);
}

/* || MAIN BOARD */
.main-signX {
	font-size: 7em;
	color: var(--GREEN);
}

.main-signO {
	font-size: 7em;
	color: var(--RED);
}

#winner-main-signX {
	background-color: var(--GREEN);
	color: var(--DARK-BGCOLOR);
}

#winner-main-signO {
	background-color: var(--RED);
	color: var(--DARK-BGCOLOR);
}

/* || WINNER WINDOW */

.winner-window {
	background-color: var(--TRANSPARENT-LIGHT-BGCOLOR);
	color: var(--GRAY);
	flex-direction: column;
	font-size: 1.5em;
	gap: var(--GENERAL-GAP);
	height: var(--WINNER-WH);
	position: absolute;
	width: 100vw;
}

.winner-window-buttons {
	flex-direction: row;
	gap: var(--GENERAL-GAP);
}

.quit-button,
.next-round-button {
	background-color: var(--GRAY);
	border-radius: calc(var(--GENERAL-BORDER-RAD) / 2);
	color: var(--BLACK);
	cursor: pointer;
	height: var(--BUTTONS-WH);
	width: var(--QUIT-BUTTON-WW);
}

.next-round-button {
	width: var(--NEXT-ROUND-BUTTON-WW);
	background-color: var(--RED);
}

/* || MEDIA */
@media screen and (max-width: 560px) {
	.main-signX,
	.main-signO {
		font-size: 6em;
	}
}

@media screen and (max-width: 480px) {
	.player1,
	.ties,
	.player2 {
		font-size: 0.85em;
	}

	.main-signX,
	.main-signO {
		font-size: 5em;
	}
}

@media screen and (max-width: 400px) {
	.player1,
	.ties,
	.player2 {
		font-size: 0.75em;
	}

	.main-signX,
	.main-signO {
		font-size: 4em;
	}
}
